h1 {
    color: #bb4d00;
    font-size: 32px;
    font-weight: bold;
}

h2 {
    color: #bb4d00;
    font-size: 24px;
}

h3 {
    color: var(--color-amber-500);
    font-size: 16px;
}

.mainContainer {
    padding: 20px 60px;
}